{{define "display"}}
<!DOCTYPE html>
<html>
<head>
	<title>Golanta</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/display.css">
    
</head>
<body>
    <header class="header">
        <h1><a href="/main" class="back-button">Retour</a> Personnages</h1>
    </header>
    <div class="char-ctn">
        {{range .}}
        <div class="personnage">
            <ul class="personnage-info">
                <li>Nom: {{.Nom}}</li>
                <li>Prénom: {{.Prenom}}</li>
                <li>Date de naissance: {{.DateNaissance}}</li>
                <li>Type de Survivant: {{.Pouvoir}}</li>
                <li>Sexe: {{.Sexe}}</li>
            </ul>
                <!-- Ajouter une condition pour vérifier si ImageProfil n'est pas vide -->
                {{if .ImageProfil}}
                <div class="img">
                    <img src="{{.ImageProfil}}" alt="Profil de {{.Nom}}">
                    </div>
                    <div class="fck">
                        <div id="supp">
                            <form class="boutonoption" action="/delete" method="POST">
                                <input type="hidden" name="nomPersonnage" value="{{.Nom}}">
                                <button type="submit" onclick="return confirm('Confirmez-vous la suppression ?')">Supprimer</button>
                            </form>
                        </div>
                        <div id="modif">
                            <form class="boutonoption" action="/modif" method="POST">
                                <input type="hidden" name="name" value="{{.Nom}}">
                                <button type="submit">Modifier</button>
                            </form>
                        </div>
                    </div>
                    {{end}}
                </div>
        {{end}}
    </div>
</body>
</html>
{{end}}