body {
    font-family: Arial, sans-serif;
    background-image: url("../img/back.jpg");
    background-size:100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    flex-direction:centerz;
    justify-content:space-between;
    padding: 20px 0; /* Augmentation de la hauteur du header */
    position: relative;
}

.ticat {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligner à gauche */
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

h1 {
    margin:0;
}

h1 a {
    color: #fff;
    text-decoration: none;
}



.info {
    margin: 20px auto;
    width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
     background-color: rgb(255 255 255 / 63%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.text {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.button-zizi {
    background-color:black;

    
}


.button {
    padding: 10px 15px;
    background-image:src="../img/back.jpg"; 
    background-color: rgb(255 255 255 / 90%);
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #555;
}

.select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#image-gallery {
display: flex;
flex-direction: row;
justify-content: center;
gap : 10%;
}

#image-gallery > img {
    width : 15%;
}
.input-file {
    position: relative;
    overflow: hidden;
}

.input-file input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
}

.input-file label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.input-file label:hover {
    background-color: #555;
}

#image-preview {
    margin-top: 10px;
}